/* */ 
/*           common section */ 
/* */ 
.butn {
	display: block;
	background-color: #e2e8f0;
	color: #2d3748;
	border-width: 0;
	border-style: solid;
	border-color: #cbd5e0;
	padding: 0.5rem;
	padding-left: 0;
	margin: 0.5rem;
	margin-left: 0;
	width: 6rem;
	height: 2rem;
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
}
.butn:hover {
	background-color: #4a5568;
	color: #fff;
}
#iframe-wrapper {
  display: flex;
  flex: 10 150px;
  align-items: center;
  position: relative;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  padding: 0 5px;
  border: 1px solid #eaf2f4;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.1);
  height: 120px;
}
#iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  max-height:500px;
}
.CodeMirror-scroll {
  height: auto;
  max-height:500px;
}
/* */ 
/*           try-it-block section */ 
/* */
.try-it-block {
	padding: 0.5rem;
	width: 100%;
} 
.try-it-block .codemirror-wrapper {
    font-size: 15px;
}
.try-it-block .btns-and-iframe {
  display: flex; 
  items: center;
}
.try-it-block .btns-frame .buttons {
    align-self: flex-start;
    width: auto;
}
/* */
/*      try-it-page section */
/* */
.try-it-page {
	position: relative;
	display: flex;
	flex-direction: row;
}
.try-it-page .codemirror-wrapper {
	width: 50%;
	padding: 1rem;
}
.try-it-page .btns-and-iframe {
	display: flex;
	padding: 1rem;
	width: 50%;
	padding-left: 0;
}
.try-it-page .buttons {
	flex: 0 1 auto;
	width: auto;
	margin-top: -0.25rem;
}
.try-it-page .CodeMirror-lines {
  font-size: 14px;
}
.try-it-page #iframe-wrapper {
    height: 500px;
}
