html {
	overflow: hidden;
}
#console {
    align-items: center;
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    padding: 0 0.8em;
    width: 100%;
    height: 120px;
    font-family: courier;
  }
  #console code {
    width: 100%;
    position: relative;
    display: inline-block;
    white-space: pre;
    height: 90%;
    overflow-y: auto;
  }